/*Large devices (desktops, 992px and up)*/

@media (max-width: 992px) {
    div#populaire,
    div#hebergement {
        float: none;
        width: 100%;
        margin: 0px;
    }
    .bg-color {
        margin-top: 15px;
    }
    .second-img-container,
    .img-container {
        text-align: center;
    }
    .filter li {
        float: none;
        margin-bottom: 15px;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
    input#recherche {
        width: 60%;
    }
    #banniere_input {
        text-align: center;
    }
    .item {
        width: 50%;
        text-align: center;
        display: block;
        float: none;
        margin: 20px auto;
    }
    div#Filtes p:first-child {
        width: 100%;
        display: block;
        float: none;
    }
    .filter ul {
        padding: 0;
        margin: 0;
    }
    .hidden-mobile {
        display: none;
    }
    #banniere_input .show-mobile {
        display: inline-block;
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {
    nav.pull-left.width-50 {
        width: 100%;
    }
    .item {
        width: 100%;
    }
    .second-img-container .content {
        float: none;
    }
    .big {
        width: 100%;
        float: none;
    }
    footer div {
        float: none;
        width: 100%;
    }
    .nav {
        float: none;
    }
    .deux_photo {
        width: 100%;
        float: none;
    }
    header nav ul li:last-child a {
        color: #0000ee;
        text-align: center;
        display: block;
    }
    header nav ul li:last-child {
        position: absolute;
        top: 24px;
        right: 0px;
    }
    header nav ul li:nth-child(1) a,
    header nav ul li:first-child a {
        border-bottom: 2px solid #0000ee;
    }
    header nav ul li {
        float: left;
        padding: 0px 8px;
        list-style: none;
        font-weight: bold;
        width: 45%;
    }
}

@media (max-width: 400px) {
    header nav ul li {
        width: 42%;
    }
}